
  body {
   margin: 0;
  }

  .wrapper {
    margin: auto;
    width: 80%;
  }

  .header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
  }

  .navigation-menu {
    display: flex;
    align-items: center;
    margin: 7px 0px 4px 0px;
  }

  .navigation-menu__element {
    position: relative;
    margin-left: 5px;
    margin-right: 15px;
    font: bold 20px/21px Roboto, arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s;
  }

  .navigation-menu__element:after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    width: 0;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s, width .5s;
  }

  .navigation-menu__element:hover {
    opacity: 0.5;
  }

  .navigation-menu__element:hover:after,.navigation-menu__element_active:after {
    opacity: 1;
    width: 100%;
  }

  .navigation-menu__element:hover:after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056EC;
  }

  .navigation-menu__element_active::after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    background: #0056EC;
  }

  .navigation-menu__element:last-child {
    margin-right: 0;
  }

  .logo {
    position: relative;
    padding: 40px 0;
    padding-left: 50px;
    font: bold 26px/32px pt_serif, arial, helvetica, sans-serif;
  }

  .logo__circle {
    position: absolute;
    top: 45%;
    left: 6px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    opacity: .7;
  }

  .logo__circle_color_blue {
    left: 14px;
    top: 59%;
    background: #C8DBFB;
    border-radius: 50%;
  }

  .logo__circle_color_dark-blue {
    background: #0056EC;
    border-radius: 50%;
  }

  .main {
    background: top right no-repeat url(img/imgapp1.svg);
    padding: 0 63% 100% 0;
    margin: 0 -9px 0 0;
  }

  .main__title {
    margin: 0 0 31px 0;
    padding-top: 73px;
    padding-left: 2px;
    padding-bottom: 1px;
    font: bold 72px/88px pt_serif, arial, helvetica, sans-serif;
    color: #000;
  }

  .main__text {
    font: 22px/28px Roboto, arial, helvetica, sans-serif;
    margin: 31px 100px 40px 5px;
    color: #000
  }

  .main__title-text_highlight {
    background: #ECF3FF;
  }

  .main__button {
    display: inline-block;
    font: 18px/28px Roboto, arial, helvetica, sans-serif;
    color: #fff;
    background: #0056EC;
    padding: 14px 38px;
    padding-left: 23px;
    margin: 2px 2px 0px 5px;
    text-decoration: none;
    border-radius: 3px;
  }

  .main-content__button:hover {
    opacity: .5;
  }
